        body{padding:0;margin:0;}
        /* .container{max-width:1108px;margin:0 auto;width:100%;} */
        header{background:#000000;color:#ffffff;}
        .cont_main{margin-top:115px;}
        *{text-decoration:none;}
        @keyframes blink{
            from {
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }
        .slogun{text-align:center;font-size:35px;font-weight:bold;padding:50px 0;}
        .slogun > .icon{animation: blink;animation-duration: 350ms;animation-iteration-count: infinite;animation-duration: alternate;}

        .coding_report{width:100%;max-width:1108px;margin:0 auto;overflow:hidden;}
        .coding_report > .coding_single{width:29%;margin:2%;float:left;text-align:center;}
        .coding_report > .coding_single > a{width:80%;height:350px;display:block;opacity:0.4;color:#000000;font-size:35px;line-height:350px;border-radius:15px;margin:0 auto;}
        .coding_report > .coding_single > a:hover{opacity:1;transform:scale(1.1)}
        .coding_report > .coding_single:first-child > a{background:red;}
        .coding_report > .coding_single:nth-child(2) > a{background:yellow;}
        .coding_report > .coding_single:last-child > a{background:blue;}
        footer > .wrap{max-width:1108px;margin:0 auto;width:100%;}

        @media screen and (max-width:768px){
            #oz_header .header_services{display:none;}
            #oz_header .header_services.opened{display:block;}
            .coding_report > .coding_single{width:100%;}
            #oz_footer .wrap{text-align:center;}
        }
 
   